* {
    margin: 0;
    padding: 0;
}

.rodape {
    text-align: center;
}

:root {
    --cor-fundo: rgb(22, 43, 22);
    --cor-fonte: white;
    --cor-hover: rgb(19, 19, 107);
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.header {
    background-color: var(--cor-fundo);
    position: sticky;
    top: 0;
    width: 100vw;
}
.logo {
    display: inline-block;
}

#logo {
    height: 40px;
    width: 10vw;
}

.nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--cor-funo);
    overflow: hidden;
}


.menu a {
    display: black;
    padding: 30px;
    color: var(--cor-fonte_);
}

.menu a:hover {
    background-color: var(--cor-hover);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 35px 20px;
}

.hamb-line {
    background-color: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background-color: var(--cor-fonte_);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform: all .2s ease-out;
    width: 100px;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}

.side-menu{
    display: none;
}

@media screen and (min-width:768px){
    .menu {
        height: 100px;
        background-color: #229b26;
        color: white;
        font-size: 27px;
    }
}
@media screen and (min-width:1280px){
    .menu {
        height: 150px;
        background-color: #8eff92;
        color: black;
        font-size: 40px;
    }
}